<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601274078815-ct7bc1ndu09unuh8m1uqsukha5g5i260.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601274078815-ct7bc1ndu09unuh8m1uqsukha5g5i260</string>
	<key>API_KEY</key>
	<string>AIzaSyAo8-TSfMUpZGMXFm6G1843C33q-oQu_BI</string>
	<key>GCM_SENDER_ID</key>
	<string>601274078815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trybe.symptomtracker</string>
	<key>PROJECT_ID</key>
	<string>symptom-tracker-a68d3</string>
	<key>STORAGE_BUCKET</key>
	<string>symptom-tracker-a68d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601274078815:ios:9de4592e558d760a466dea</string>
</dict>
</plist>